:root {
    --bg-color: #212123;
    --container-color: #191919;
    --btn-color: #6C3EB8;
    --active-color: #8B57C6;
    --title-color: white;
    --title-item: #F6F6F7;
    --text-color: #B8B8B8;
    --nonactive-color: #576067;
    --border-radius: 6px;
    --card-bg-color: #212123;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #eee;
}

.container {
    margin: 20px auto 0 auto;
    max-width: 1024px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.timer-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.part {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-family: 'FiraSans', sans-serif;
    font-size: 48px;
}

.part__number {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 48px;
}

.colon {
    font-family: 'FiraSans', sans-serif;
    font-size: 25px;
    text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}


button {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 48px;
    font-family: 'FiraSans', sans-serif;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

