.timerForm {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.plus {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid lightgray;
    font-family: 'FiraSans', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}